<!--
  Generated template for the StreetRootListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Street Root List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div>
	    <div padding>
            <button ion-button full color="primary" type="button" (click)="showStreetRequest()">New Root</button>
        </div>
        <ion-grid class="grdLeaveHistory">
           <ion-row>
              <ion-col class="bold text-center">
                 <ion-searchbar placeholder="Search" [(ngModel)]="searchName"></ion-searchbar>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-wrap class="bold text-center" col-2>
                   Sr.No
                </ion-col>
                <ion-col text-wrap class="bold text-center" col-4>
                   Distributor
                </ion-col>
                <ion-col text-wrap class="bold text-center" col-3>
                   Street Root
                </ion-col>
                <ion-col text-wrap class="bold text-center" col-3>
                   Action
                </ion-col> 
            </ion-row>
            <ion-row *ngFor="let rd of root_data | streetroot: searchName | paginate:{ itemsPerPage:8, currentPage:p} ; let i = index">
                <ion-col class="text-center" col-2>
                   {{i+1}}
                </ion-col>
		            <ion-col class="text-center" col-4>
                   {{rd.distributor}}
                </ion-col>
                 <ion-col class="text-center" col-3>
                   {{rd.street_root}}
                </ion-col>
	            <ion-col class="text-center" col-3> 
                    <button ion-button icon-only outline small color="danger" class="del" (click)="presentConfirm(rd.id)" *ngIf="rd.sub_distributor==false">
                        <ion-icon name="trash"></ion-icon>
                    </button>   
                    <button ion-button icon-only outline small class="view" (click)="showModalDialog(rd)">
                        <ion-icon name="eye"></ion-icon>
                    </button>
                </ion-col>
			</ion-row>
                 <pagination-controls (pageChange)="p =$event"></pagination-controls>
        </ion-grid>
    </div>
</ion-content>
